{
	// don't include rules here as they will not be used by the build process
	// see https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#displaying-lint-output-in-the-editor
	"extends": "react-app"
}
