.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}
.row {
	text-align: center;
}
.container {
	padding-top: 25px;
}
.recharts-tooltip-wrapper {
	visibility: visible;
	transform-origin: center;
}
