#pageTops {
	text-align: center;
}

.navigation {
	list-style: none;
	display: inline-block;
	padding: 0;
}

li {
	display: inline-block;
	margin: 5px 10px;
}

li a {
	text-decoration: underline;
}

li:hover {
	opacity: 0.6;
}

.main-text {
	margin: 0 auto;
	margin-top: 4%;
}

.main-text p {
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.5em;
	margin: 0 auto 2%;
	display: block;
}

.mtext1 {
	width: 60%;
}

.mtext2 {
	width: 80%;
}
