.checkbox-container {
	position: relative;
	margin: 2% auto 2%;
}

.checkbox-container:hover {
	cursor: pointer;
	cursor: hand;
}

.checkbox-container.error {
	color: red;
}

.checkbox-container.error a {
	color: red;
}

.checkbox-image {
	position: absolute;
	left: 0px;
	top: -2px;
	display: inline-block;
	width: 20px;
	height: 23px;
	background: url('./check.png') top left no-repeat;
}

.checkbox-image.checked {
	background-position: -29px top;
}

.checkbox-text {
	display: inline-block;
	margin-left: 30px;
	max-width: 300px;
	text-align: left;
	font-size: 12px;
	letter-spacing: 0.5px;
}
