#not-sso-callback {
	text-align: center;
}

#not-sso-callback img {
	vertical-align: bottom;
	border: none;
	margin-left: 2px;
}

#not-sso-callback a {
	text-decoration: underline;
}

#logout-redirect {
	padding: 10px 0;
	display: inline-block;
	color: #fbfaf8;
	font-size: 12px;
	text-decoration: none !important;
	letter-spacing: 1.1px;
}
