.red-carpet__bg {
	margin-top: -18%;
	position: relative;
	z-index: 1;
}

.red-carpet__container {
	position: relative;
}

.red-carpet__flash {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	margin-top: -20%;
	animation: red-carpet__flash 2s infinite ease-in;
}

.red-carpet__flash.flash1 {
	animation-delay: 1s;
}
.red-carpet__flash.flash2 {
	animation-delay: 1.5s;
}
.red-carpet__flash.flash3 {
	animation-delay: 2s;
}
.red-carpet__flash.flash4 {
	animation-delay: 2.5s;
}

@keyframes red-carpet__flash {
	0% {
		opacity: 1;
	}
	5% {
		opacity: 0;
	}
}
